<h1>PHOTOTS</h1>



<ul class="thumbnails">
  <% @photos.each do |photo| %>
    <li class="span4">
      <a href="#" class="thumbnail">
        <img src = '<%= photo.image.url(:medium) %>'>
          <%= link_to like_photo_path(photo), method: :put do %>
          Upvote
          <%= photo.get_upvotes.size %>
          <% end %>
          <%= link_to dislike_photo_path(photo), method: :put do %>
          Downvote
          <%= photo.get_downvotes.size %>
      <% end %>
      </a>
    </li>
  <% end %>
</ul>
